
body{
    margin: auto;
}

/*           header         */
header {
background-color: rgba(20, 6, 18, 0.84);
 }
header ul {
    padding: 0 ;

}
 header li a{
     text-decoration: none;
 }
 header a:link{
     color: white;
 }

header a:visited{
    color: white;
}




  header li {
      list-style-type: none;
      display: inline-block;
      width: 80px;
      margin: auto;
      padding:10px 0 10px 0;       /* top   right     bottom  left   */
      background-color: dimgray;
      text-align: center;



 }



/*   navigation menu          */

nav{
    position: relative;
    width: 200px;
    float: left;

}

nav h2{
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    margin-left: 20px;
}

nav li a{
    text-decoration: none;
}









aside{
    position: relative;
    float: left;
    display: inline-block;
    border: solid 1px grey;

}

#waiting {
    padding: 10px;
    position: relative;
    display: inline-block;
    float: left;
}

 #waiting h2 {
    text-align: left;
    background-color: royalblue;
   padding-left: 20px;
}

aside ul {
    list-style-type: none;
    border: solid 2px grey;
}

aside .massage{
   width: 80%;
    display: inline-block;
}
aside .img{
    width: 31px;
    display: inline-block;
}

#progress {
    position: relative;
    display: inline-block;
    float: left;
    padding: 10px;
}

#progress h2 {
    background-color: chartreuse;
}






















#review {
    position: relative;
    float: left;
    display: inline-block;
    padding: 10px;

}

#review h2 {
    background-color: coral;
}




















